<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music Collection</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/musiccollection")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <!-- Put the navbar here -->
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Anthony Sciamanna</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/musiccollection")
    @RenderSection("scripts", required: false)
</body>
</html>
