@model MusicCollection.Models.Album

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Artist)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Artist)
            @Html.ValidationMessageFor(model => model.Artist)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AlbumArtist)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AlbumArtist)
            @Html.ValidationMessageFor(model => model.AlbumArtist)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayCount)
            @Html.ValidationMessageFor(model => model.PlayCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAdded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastPlayed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastPlayed)
            @Html.ValidationMessageFor(model => model.LastPlayed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArtworkLocation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArtworkLocation)
            @Html.ValidationMessageFor(model => model.ArtworkLocation)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
