@model MusicCollection.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Album</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Artist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumArtist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumArtist)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlayCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateAdded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastPlayed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPlayed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArtworkLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtworkLocation)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
