@using MusicCollection.ViewModels;
@using MusicCollection.Models;

@model AlbumIndexViewModel

@functions {
    string FormatUrl(int page, SortType sortType) {
       return string.Format("Album?page={0}&sortType={1}", page, sortType);
    }
}

<div class="navbar navbar-fixed-top navbar-inverse" data-spy="affix">
    <div class="navbar-inner">
        <a class="brand" href="#">Music Collection</a>
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@FormatUrl(@Model.CurrentPage, SortType.ArtistName)" class="dropdown-item">Artist Name</a></li>
                    <li><a href="@FormatUrl(@Model.CurrentPage, SortType.ReleaseYear)" class="dropdown-item">Release Year</a></li>
                    <li><a href="@FormatUrl(@Model.CurrentPage, SortType.LastPlayed)" class="dropdown-item">Last Played</a></li>
                    <li><a href="@FormatUrl(@Model.CurrentPage, SortType.LastAdded)" class="dropdown-item">Last Added</a></li>
                </ul>
            </li>
            <li>
                <p class="navbar-text">@Model.FriendlySortType</p>
            </li>
            <li>
                <form method="get" class="navbar-search search-input">
                    <input type="text" class="search-query" placeholder="Search By Artist" name="filter" />
                    <input type="hidden" name="sortType" value="@Model.CurrentSortType" />
                </form>
            </li>
        </ul>
        <p class="navbar-text pull-right">@Html.Raw(string.IsNullOrEmpty(Model.CurrentFilter) ? Model.AlbumCount + " Albums" : Model.AlbumCount + " Albums for " + Model.CurrentFilter)</p>
    </div>
</div>
<div class="container">
    <ul class="thumbnails">
        @foreach (var item in Model.Albums) {    
            <li class="span3 thumbnail">
                <a href="#modalAlbumDetails_@Html.DisplayFor(model => item.AlbumID)" data-toggle="modal">
                    <img src="@Html.DisplayFor(model => item.ArtworkLocation)" width="180" height="180"/>
                </a>
                <div id="modalAlbumDetails_@Html.DisplayFor(model => item.AlbumID)" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <table>
                            <tr>
                                <td>
                                    <h3>@Html.DisplayFor(model => item.Artist)</h3>
                                    <p>@Html.DisplayFor(model => item.Name)</p>
                                </td>
                                <td>
                                    <img src="@Html.DisplayFor(model => item.ArtworkLocation)" width="60" height="60"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(model => model.Albums.First().Year)</strong></td>
                                <td class="table-data">@Html.DisplayFor(model => item.Year)</td>
                            </tr>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(model => model.Albums.First().Genre)</strong></td>
                                <td class="table-data">@Html.DisplayFor(model => item.Genre)</td>
                            </tr>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(model => model.Albums.First().PlayCount)</strong></td>
                                <td class="table-data">@Html.DisplayFor(model => item.PlayCount)</td>
                            </tr>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(model => model.Albums.First().LastPlayed)</strong></td>
                                <td class="table-data">@Html.DisplayFor(model => item.LastPlayed)</td>
                            </tr>
                            <tr>
                                <td><strong>@Html.DisplayNameFor(model => model.Albums.First().DateAdded)</strong></td>
                                <td class="table-data">@Html.DisplayFor(model => item.DateAdded)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a data-dismiss="modal" class="btn">Close</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
@if (Model.NumberOfPages == 0) {
    <p class="not-found-text">No Albums found</p>
}
@if (Model.NumberOfPages > 1) {
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#" id="previous-page" data-currentpage="@Model.CurrentPage" data-currentsort="@Model.CurrentSortType">Prev</a></li>
            @foreach (var page in Enumerable.Range(1, Model.NumberOfPages)) {
                <li><a href="Album?page=@page&sortType=@Model.CurrentSortType" data-currentpage="@Model.CurrentPage" id="page_@page">@page</a></li>
            }
            <li><a href="#" id="next-page" data-currentpage="@Model.CurrentPage" data-currentsort="@Model.CurrentSortType">Next</a></li>
        </ul>
    </div>
}
